.pageWrapper {
  margin: 0 auto; 
  max-width: 1160px; 
  padding: 0 25px; 
}

.HeaderOneStyle {
  font-size: 80px; 
  font-weight: normal; 
}

.articleCardWrapper { 
  align-items: flex-start;
  border: 1px solid black; 
  display: flex; 
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 50px;
  padding: 25px; 
}

.articleCardImage {
  flex-basis: 35%; /*will adjust how much space the photo will take within the article card */
}

.articleCardImage img {
  height: auto; 
  width: 100%; 
}

.articleCardText {
  flex-basis: 65%;
  margin-left: 25px;
}

.articleCardTitle {
  font-size: 36px; 
  font-weight: bold;
  margin-bottom: 5px; 
  margin-top: 10px; 
}

.articleCardDate { 
  margin-left: 10px; 
  margin-top: 5px; 
}

.articleCardBlurb {
  margin-top: 30px;
  margin-bottom: 30px; 
}

.articleCardLink { 
  font-weight: bold; 
}

.articleHeader {
  background: #e5e5e5; 
  padding: 40px 0; 
}

.articleHeaderText {
  margin: 0 auto; 
  max-width: 640px; 
  padding: 0 25px; 
}

#singleArticleTitle { 
  margin-bottom: 5px; 
  margin-top: 25px; 
}

#singleArticleDate { 
  margin-left: 0px; 
}

.articleHeaderBlurb {
  font-size: 20px; 
  line-height: 1.5; 
}

.articleText { 
  margin: 0 auto; 
  max-width: 640px;
  padding: 0 25px; 
}

.articleText p {
  font-size: 16px;
  line-height: 1.5;
}

.articleText h2 {
  font-size: 36px;
  font-weight: bold;
  margin: 0; 
  margin-bottom: 20px; 
}

.articleText h3 {
  font-size: 24px;
  font-weight: bold;
}